*{
    font-family: sans-serif;
     text-decoration: none; 
    /* color: rgba(0, 0, 0, 0.491); */
    

}

body {
	overflow-x: hidden;
    background-color: #5B8FB9;
}

/* css formulario : */
.inputsContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 10px ;
    gap: 20px;
    
}
.input{
    display: flex;
    flex-direction: column;
}



/* productos */

#lista-productos{
    display: inline-block; 
     display: block; 
	/* flex-wrap: wrap;  */
	color: #03001C;
}

img{
    flex-grow: 1;
	margin: 20px;
	max-width: 300px;
	border: 1px solid #333;
	padding: 0 20px;
}

